
html{
    font-size: 100%;
}
body{
    color: #121212;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    opacity: 0.7;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
p{
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.header-logo{
    width: 100px;
    line-height: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
#navi{
    width: 100%;
    height: 100vh;
    background-color: #041ea0;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    text-align: center;
    transition: opacity 0.6s ease,visibility 0.6s ease;
    visibility: hidden;
}
#navi.active{
    opacity: 1;
    visibility:visible ;
}
.nav-menu li{
  padding: 15px 0;
  margin: 40px 0;
}
.nav-menu a{
    font-weight: bold;
    font-size: 1.75rem;
}
.hamburger{
    width: 100px;
    height: 100px;
    background-color :#191970;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    cursor: pointer;
    transition: 0.5s;
}
.hamburger span{
    width: 50px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 25px;
    transition: 0.5s ease-in-out;
}
.hamburger span:nth-child(1){
    top: 36px;
}
.hamburger span:nth-child(2){
    top: 50px;
}
.hamburger span:nth-child(3){
    top: 64px;
}
.hamburger.active span:nth-child(1){
    top: 47px;
    left: 25px;
    background: #fff;
    transform: rotate(-45deg);
}
.hamburger.active span:nth-child(2){
    top: 47px;
    left: 25px;
    background: #fff;
    transform: rotate(45deg);
}
.hamburger.active span:nth-child(3){
    top: 47px;
    background: #fff;
    transform: rotate(45deg);
}
.site-title{
    position: absolute;
    font-weight: bold;
    font-size: 300%;
    color: #121212;
    margin-top: 60px;
    margin: 40px 0 0px 110px;
}
#main-visual{
    
}
#main-visual img{
    width: 100%;
    object-fit: cover;
    
}
.wrapper{
    max-width: 1960px;
    margin: 0 auto;
    padding:0 5%;
}
.section-title{
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;;
    font-size: 250%;
    text-align: left;
    margin-bottom: 80px;
    padding: 80px 0 15px 0;
    background: url(https://www.round1.co.jp/common/img/bg_dot01.gif) repeat-x left bottom;
}
#charm{
    height: 900px;
    background-color: #a5d2fb;
    padding-bottom: 60px;
}
.charmcontent{
   width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0 auto;
    margin-top: 30px;
}
.charmcontent img{
    width: 30%;
    height: auto;
    object-fit: cover;
}
.charmcontent .name{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
}
.charmcontent p{
    text-align: left;
    font-size:1.25rem;
    line-height: normal;
}
.charmcontent li{
    width: 31.9%;
    box-sizing: border-box;
    font-size: 1.25em;
    line-height: 3.5em;
    text-align: center;
    padding:15px;
    padding-bottom: 60px;
    margin-bottom: 80px;
    position: relative;
    background: #fff;
    border: #191970 solid 0.4167em;
}

#facility{
    height: auto;
    background-color: #f0f0f0;
}
.item{
    width: 48%;
    text-align: center;
}
.item p{
    font-size: 1.75rem;
    padding: 15px;
    text-align: left;
    margin-bottom: 5px ;
}
.item-title{
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 250%;
    margin-bottom: 20px;
    text-align: center;
}
.item img{
    width: 100%;
    border-radius: 20%;
}
.item .more{
    text-align: right;
    font-size: 20px;
    margin-top: 24px;
    position: relative;
}
.item .more::after{
    position: absolute;
    right: 0;
    bottom: -5px;
    content: '';
    width: 20%;
    height: 1px;
    background: #3E4550;
    transform: scale(1, 1);
    transform-origin: left top;
    transition: transform 0.3s;
}
.item .more a{
    font-size: 2rem;
    margin-right: 75px;
    color:#121212; ;
}
.sub{
font-weight: bold;
font-size: 1.9rem;
text-align: center;
margin-bottom: 30px;
padding: 15px;
font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}
.bath{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    margin-bottom: 60px;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:60px 0;
    margin-bottom: 60px;
}
.viking{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0 200px 0;

}
#plan{
    height: auto;
    background-color: #a5d2fb;
    padding: 0 50px;   
}
#plan p{
    padding-bottom: 80px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.plan-basic{
    width: 100%;
    border-top: solid 3px #fff ;
    border-left: solid 3px #fff;
    margin-bottom: 60px;

}
.plan-table{
    width: 100%;
    border-top: solid 3px #fff ;
    border-left: solid 3px #fff;
}
.adult{
    width: 16%;
}
 th,td{
    font-size: 150%;
    font-weight: bold;
    padding: 30px;
    margin: 30px;
    border-right: solid 3px #fff;
    border-bottom: solid 3px #fff;
    text-align: center;
}
th{
    color: #fff;
    background-color: #024399;
}
table td:empty {
    background-image: linear-gradient(to top right,
    transparent, transparent 49%,
    #fff 49%,
    #fff 51%,
      transparent 51%, transparent);
      background-color: none;
  }
  table th:empty {
    background-image: linear-gradient(to top right,
    transparent, transparent 49%,
    #fff 49%,
    #fff 51%,
      transparent 51%, transparent);
  }
.uni-student, .high-student{
    width: 28%;
}
#plan p{
   font-size: 1.5rem;
}
#footer{
    height: 450px;
    background-color: #191970;
    color: #fff;
}

#footer p{
    height: 100px;
    text-align: center;
    background-color: #191970;  
    font-size: 1.75rem;
    padding-top :60px ;
}
.copyright{
    margin: 0;
}
#footer #summary{
    display: contents;
}
#footer li p{
    text-align: left;
    font-size: 2rem;
}
#footer .footer-menu{
    display: flex;
    justify-content: center;
    margin: 80px  0;
}
.footer-menu li{
    border-right: solid 1px #fff;
    font-size: 1.25rem;
    padding:0 20px;
}
.more  a:hover{
    opacity: 0.7;
    color:#191970;
}
/*タブレットレスポンシブ*/
@media(max-width:960px){
    #main-visual img{
        height: auto;
    }
    #charm{
        height:auto;
    }
    p .name{
        font-size: 1.25rem;
    }
    .item img{
        border-radius: 5%;
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
    .item .more::after{
        width: 38%;
    }
    #plan{
        height: auto;
    }
    table{
        width: 100%;
    }
    #plan{
        height: auto;
    }
}
/*スマホレスポンシブ*/
@media(max-width:768px){
    .header-logo{
       width: 10%;
    }
    .site-title{
        margin-top: 3%;
        margin-left: 10%;
        font-size: 2.85rem;
    }
    .hamburger{
        width: 100px;
        height: 85px;
    }
    .hamburger span:nth-child(1){
         top: 30px;
    }
    .hamburger span:nth-child(2){
         top: 45px;
    }
    .hamburger span:nth-child(3){
         top: 59px;
    }
    #main-visual img{
        height: 300px;
    }
    #charm{
        height: auto;
    }
    .charmcontent{
        display: block;
        justify-content: space-between;
    }
    .charmcontent li{
        width: 65%;
        margin:0 auto;
        margin-bottom: 30px;
        padding: 0;
    }
    .charmcontent img{
        width: 30%;
        height: 30%;

    }
    #facility{
        height: auto;
    }
    .item{
        width: 100%;
        margin: 0 auto;
    }
    .item img{
        width: 100%;
        height: 50%;
        margin-bottom: 20px;
    }
    .item .more::after{
        width: 23%;
    }
    .bath{
        display: block;
    }
    .bar{
        flex-direction: column-reverse;
    }
    .viking{
        display: block;
    }
    #plan{
        height: auto;
    }
    .plan-basic,.plan-table{
        width: 100%;
    }
     th{
        font-size: 0.875rem;
    }
     td{
        font-size: 0.875rem;
    }
    #plan{
        height: auto;
    }
    #plan p{
        font-size: 0.9rem;
    }
    #address p{
        font-size: 1.5rem;
    }
    .footer-menu{
        padding: 20px;
    }
    .footer-menu li{
        font-size: 0.9rem;
    }
}