html{
    font-size: 100%;
}
body{
    color: #121212;
    font-family: 'Noto Sans JP',sans-serif;
}
a {
    color:#121212;
    text-decoration: none;
}
img{
    max-width: 100%;
    vertical-align: bottom;
}
li{
    list-style: none;
}

.wrapper{
    max-width: 900px;
    padding: 80px 20px;
    margin: 0 auto;
}
.section-title{
    display: flex;
    font-size: 1.75rem;
    margin-bottom: 60px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.section-title::before{
    border-top: 1px solid;
    content: "";
    width: 28%;
}
.section-title::after{
    border-top: 1px solid;
    content: "";
    width: 28%;
}
#header{
    width: 300px;
    height: 100%;
    background-color: #fff;
    padding: 40px 50px 30px 45px;
    position: fixed;
    top: 0;
    overflow-y: auto;
}
.site-title{
    width: 200px;
    line-height: 1px;
    margin-bottom: 30px;
}
.site-title a{
    display: block;
}
.nav-menu{
    margin-bottom: 60px;
}
.nav-menu li{
    font-size: 0.875rem;
    padding: 8px 0;
}
.container{
    margin-left: 300px;
}
#video{
    width: 100%;
    height: 100vh;
}
#video .bg-video{
    position: fixed;
    top: -220px;
    z-index: -10;
}
#project{
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
    color: #fff;
}
#project .list{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}
#project .list .name{
    color: #fff;
    font-size: 0.75rem;
    position: absolute;
    bottom:4px;
    left: 7px;
    z-index: 5;

}
#project .list li{
    width: 47%;
    border: solid 1px #fff;
    position: relative;
    margin-bottom: 50px;
}
#project .list li a::after{
    content: "";
    box-shadow: 0 -30px 15px -1px #2e2e2e inset;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#project .list li:last-child,#project .list li:nth-last-child(2){
    margin-bottom: 0;
}
#feature{
    background:rgba(0,0,0,0.8);
    color: #fff;
    padding-bottom:80px;
}
#feature .list{
    display: flex;
    justify-content: space-between;
}
#feature .list li{
    width: 30%;
    font-size: 0.875rem;
    text-align: center;
}
#feature .list li a{
    width: 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    color: #fff;
    display: block;
    padding: calc(50% - 11px) 0;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#feature .list li a::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0.3;
    transition: 0.5s;
}
#feature .list .title{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}
#flow{
    background-color: #fff;
    padding-top: 40px;
}
#flow .step{
    display: flex;
    margin-top: 60px;
}
#flow .figure{
    position: relative;
}
#flow .figure::before{
    content: "";
    width: 50px;
    height: 600px;
    background-color: #ffdd00;
    position: absolute;
    top: 0;
    left: 75px;
}
.figure li{
    width: 200px;
    height: 80px;
    line-height: 80px;
    background-color: #414141;
    color: #fff;
    font-size: 0.875rem;
    margin-bottom: 60px;
    position: relative;
    text-align: center;
}
.figure li::before{
    content: "";
    border-top: 30px solid #414141;
    border-left: 100px solid transparent;
    border-right:100px solid transparent;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.description{
    margin-left: 10%;
}
.description dt{
    border-bottom:solid 1px #121212;
    font-size:1.25rem ;
    padding-bottom: 10px;
    position: relative;
}
.description dt span{
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #414141;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: block;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: -45px;
}
.description dd{
    margin-bottom: 43px;
}
.description dd:last-child{
    margin-bottom: 0;
}
#contact{
    background-color: #fff;
    padding-bottom: 80px;
}
#contact .link{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.link .item{
    width: 30%;
    border: solid 1px #121212;
    display: block;
    font-size: 0.875rem;
    position: relative;
    padding: 50px 0;
    text-align: center;
    transition:0.1s;
}
.link .item::before{
    content: "";
    border-top: 20px solid transparent;
    border-right: 20px solid #121212;
    position: absolute;
    right: 4px;
    bottom: 4px;
}
.link .item img{
    margin-bottom: 5px;
}
#footer{
    background-color: #121212;
    color: #fff;
    padding:20px 0 ;
}
#to-top{
    width: 50px;
    height: 50px;
    background-color: #121212;
    border: solid 1px #fff;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    bottom: 25px;
}
#to-top::after{
    content: "";
    border-left:7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: relative;
    left: 17px;
    bottom: 3px;
}
#footer .menu{
    display: flex;
    justify-content: center;
    margin:30px 0 60px 0;
}
#footer .menu li{
    border-right:solid 1px #fff;
    font-size: 0.875rem;
    padding:0 20px ;
}
#footer .menu li a{
    color: #fff;
}
#footer .menu li:last-child{
    border-right:none ;
}
#footer .copyright{
    font-size: 0.75rem;
    text-align: center;
}

@media(max-width:960px){
 .wrapper{
    padding: 60px 20px;
 }
 #header{
    width: 100%;
    height: 72px;
    padding: 0;
    z-index: 10;
 }
 .site-title{
    width: 180px;
    margin-bottom: 0;
    position: relative;
    left: 18px;
    top: 10px;
 }
 #navi{
    width: 300px;
    background: #fff;
    padding:25px;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    opacity: 0;
    overflow-y:auto ;
    transition: 0.5s;
    z-index: 20;
 }
 .open #navi{
    left: 0;
    opacity: 1;
 }
 #navi ul .nav-menu{
    margin-bottom: 30px;
 }
 #navi ul li{
    padding: 10px 0;
 }
 .hamburger{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 22px;
    right: 18px;
    transition: 0.5s;
    z-index: 20;
 
}
.hamburger span{
    width: 30px;
    height: 2px;
    background-color: #121212;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 0;
    transition: 0.5s;
}
 .open .hamburger span{
    background-color: #fff;
}
.hamburger span:nth-child(1){
top: 4px;
}
.hamburger span:nth-child(2){
top: 14px;
}
.hamburger span:nth-child(3){
bottom: 4px;
}
.open .hamburger span:nth-child(1){
    transform: translate(10px)rotate(-315deg);
}
.open .hamburger span:nth-child(2){
    opacity: 0;
}
.open .hamburger span:nth-child(3){
    transform: translate(-10px)rotate(-315deg);
}
#mask{
    display: none;
    transition: 0.5s;
}
.open #mask{
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    display: block;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.container{
    margin-left: 0;
}
#video{
    height: 80vh;
}
.bg-video{
    height: 520px;
    top: 72px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.section-title{
    font-size: 1.25rem;
    margin-bottom: 30px;
}
.section-title::after{
    width: 18%;
}
.site-title::before{
    width: 18%;
}
#project .list{
    flex-direction: column;
}
#project .list li{
    width: 100%;
    margin-bottom: 30px;
}
#feature{
    padding-bottom: 60px;
}
#feature .list{
    display: flex;
    justify-content: space-between;
}
#flow{
    padding-top: 0;
}
#flow .step{
    flex-direction: column;
    align-items: center;
    margin-top :30px ;
}
.figure{
    margin-bottom: 80px;
}
.figure li{
    width: calc(100vw - 80px);
}
.figure::before{
    left: 0;
    right: 0;
    margin: 0 auto;
}
.figure li::before{
    border-left: calc(50vw - 40px) solid transparent;
    border-right:calc(50vw - 40px) solid transparent;
}
.description{
    margin-left: 50px;
}
#contact{
    padding-bottom: 60px;
}
.link{
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.link .item{
    width: 60%;
    margin: 20px 0 0 0;
}
.link .item:first-child{
    margin-top: 0;
}
#footer .menu{
    flex-wrap:wrap;
}
#footer .menu li{
    margin-bottom: 10px;
}
}